.swiper {
	flex-direction: column-reverse;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.swiper-vertical > .swiper-wrapper {
	flex-direction: column;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 515px;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
	touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
	touch-action: pan-x;
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
	transition-duration: 1000ms !important;
}
.swiper-pagination {
	width: auto;
	padding: 12px 40px;
	font-size: 12px;
	line-height: 1.2;
	color: #606067;
}
:root {
	--swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 12px;
	width: 28px;
	height: 15px;
	z-index: 10;
	cursor: pointer;
	color: #000;
}
.swiper-pagination-current {
	color: #b1b1bb;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	content: "";
	display: block;
	width: 28px;
	height: 15px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: auto;
	right: 90px;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	background: url("./../../Assets/Img/Icons/arrow-left.svg");
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 40px;
	left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	background: url("./../../Assets/Img/Icons/arrow-right.svg");
}
.swiper-button-lock {
	display: none;
}

@media screen and (max-width: 767px) {
	.swiper {
		display: flex;
		flex-direction: column;
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: auto;
		bottom: 0;
	}
	.swiper-button-next {
		right: 20px;
		left: auto;
	}
	.swiper-button-prev {
		right: auto;
		left: 20px;
	}
	.swiper-pagination {
		order: 2;
		text-align: center;
		padding: 19px 20px 0 20px;
	}
}

@media screen and (min-height: 850px) {
	.swiper-wrapper {
		height: calc(100vh - 44px - 142px - 105px);
	}
}
@media screen and (max-width: 1439px) {
	.swiper-wrapper {
		height: 47vw;
	}
}
@media screen and (max-width: 1140px) {
	.swiper-wrapper {
		height: 47vw;
	}
}
@media screen and (max-width: 1023px) {
	.swiper-wrapper {
		height: 65vw;
	}
}
@media screen and (max-width: 840px) {
	.swiper-wrapper {
		height: 80vw;
	}
}
